[workspace]
resolver = "3"
members = ["day_1_safe_puzzle", "day_2_gift_shop"]

[workspace.package]
edition = "2024"
license = "MIT"
version = "0.1.0"

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.dependencies]
anyhow = "1.0.100"
thiserror = "2.0.17"
