[package]
name = "day_2_gift_shop"
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }

[lints]
workspace = true
